h2{
	text-align: center;
}

#message {
	text-align: center;
	margin-bottom: 10px;
}

table {
	margin: auto;
}

td{
	/* give every cell a zise by using width and height*/
	width: 100px;
	height: 100px;
}

.vertical {
	/* make vertical lines */
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.horizontal  {
    /* make horizontal lines */
	border-bottom: 1px solid black;
}
